html{
height: 100%;
}

form{
	/*text-align:center;*/
}

.wrapper{
	background-image:url("../images/backgrounds/newpattern.png");
    background-size:100%;
   
	/*margin-bottom: 15%;*/
}

a{
	display:block;
	margin-top:15px;
	text-docartion:none;
	color: #87314e;
	background-color:rgba(246, 239, 241,0.6);
}

#second{
	display:none;
}

.login_box{
	margin-top:15%;
	border:1px solid #87314e;
	padding: 25px;
	text-align:left;
	box-shadow: 0px 15px #87314e;
	
	
}

.login_header{
	width:100%;
	margin-bottom:30px;
	text-align:right;
	
}

.login_header h1{
	font-family: 'Satisfy', cursive;
	font-size:3rem;
	color:#87314e;
	background-color:rgba(246, 239, 241,0.6);
}

.login_header h4{
	font-size:1rem;
	color:#512645;
	background-color:rgba(246, 239, 241,0.6);
}


.btn, .btn-large {
margin-top:50px;
background-color:#512645;

}


.btn:hover, .btn-large:hover{
	background-color:#df405a;
}

.red.lighten-2{
	background-color:#df405a !important;
}

body::before {
	
    content: '';
	position: absolute;
	z-index:-5;
	top: 0;
	right: 0;
	bottom: -180px;
	left: 0;
	background-image: linear-gradient(to bottom right,white,#87314e);
	opacity: .2; 
}

input[type=text]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #512645;
    -webkit-box-shadow: 0 1px 0 0 #512645;
    box-shadow: 0 1px 0 0 #512645;
}

input[type=email]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #512645;
    -webkit-box-shadow: 0 1px 0 0 #512645;
    box-shadow: 0 1px 0 0 #512645;
}

input[type=password]:not(.browser-default):focus:not([readonly]){
	border-bottom: 1px solid #512645;
    -webkit-box-shadow: 0 1px 0 0 #512645;
    box-shadow: 0 1px 0 0 #512645;
}

@media only screen and (min-width: 1750px) {
    .btn, .btn-large {
		margin-top:250px;

	}
	
@media only screen and (min-width: 2450px) {
    form{
		margin-top:10%;
    }
}
